---
layout: default
---

#welcome.block
  .overlay{style:"background: url('{{ site.baseurl }}{% asset_path 'code.png' %}') no-repeat center center fixed; background-attachment: fixed; background-size: cover"}
  .center
    .white
    %img{src:"{{ site.baseurl }}{% asset_path 'logo.png' %}", style:"background: url('{{ site.baseurl }}{% asset_path 'code.png' %}') no-repeat top center fixed; background-attachment: fixed;  background-size: cover"}
#tagline.block
  .center.blur
    %h1 AGILE, RESPONSIVE, MANAGEABLE TOOLS TO FIT YOUR NEEDS
#slide.block.features
  .feature-banner
    %ul
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'responsive-icon.png' %}"}
        .center-right
          %h1 MOBILE-FRIENDLY DESIGN
          %hr.thick
          :markdown
            Squinting, panning, and zooming to see a mobile site is *so* 2010.
            With the growth in reliability on mobile search and browsing, a
            mobile-friendly solution is increasingly important for any business.
            Make sure all of your visitors get the same great browsing experience with
            a responsive solution.
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'cms-icon.png' %}"}
        .center-right
          %h1 EASY CONTENT-MANAGEMENT
          %hr.thick
          :markdown
            A content management system is a web application that makes it possible to
            edit, update and manage your website without needing to know how to code.
            Fully-customized content management means less hassle for you and better content
            for your customers.
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'brand-icon.png' %}"}
        .center-right
          %h1 MARKETING TOOLS
          %hr.thick
          :markdown
            No need to stop with the web. A strong brand is one that is communicated consistently
            across all media. Ensure that your brand is a complete representation of your enterprise
            and speaks clearly to your customers.
#philosophy.block
  .center.blur
    %h1 DESIGN & VALUE
    %hr.thick-inverse
    :markdown
      Design is a snapshot of value, and with a thoughtful
      approach to the way the web is used and interpreted, functional design can tell your story
      in seconds. From restaraunts to e-commerce, I can help you communicate your value effectively.
#portfolio
  .banner
    %ul
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'real-org/real-org-tall.png' %}"}
        .center-right
          %h1 THE REALISTIC ORGANIZER
          %hr.thick
          :markdown
            Whether you’re the owner of a
            restaraunt, a local boutique, a club, or perhaps you’re interested in entering the world of
            e-commerce, I can help you communicate your value effectively.
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'tennis/tennisadvantage-tall.png' %}"}
        .center-right
          %h1 GREGSON'S TENNIS ADVANTAGE
          %hr.thick
          :markdown
            Whether you’re the owner of a
            restaraunt, a local boutique, a club, or perhaps you’re interested in entering the world of
            e-commerce, I can help you communicate your value effectively.
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'bohokitty/bohokitty-tall.png' %}"}
        .center-right
          %h1 BOHOKITTY
          %hr.thick
          :markdown
            Whether you’re the owner of a
            restaraunt, a local boutique, a club, or perhaps you’re interested in entering the world of
            e-commerce, I can help you communicate your value effectively.
      %li.block
        %img.center-left{src:"{{ site.baseurl }}{% asset_path 'runfurman/runfurman-tall.png' %}"}
        .center-right
          %h1 RUNFURMAN
          %hr.thick
          :markdown
            Whether you’re the owner of a
            restaraunt, a local boutique, a club, or perhaps you’re interested in entering the world of
            e-commerce, I can help you communicate your value effectively.


#contact.block
  .center.blur
    %h1 CONTACT
    %hr.thick-inverse
    %p When not in front of my computer I spend my hours running on the roads of upstate South Carolina, training for the 2016 Olympics. After having come within a few spots of making it to London in 2012, I’ve become even more committed to that goal. Web design and running are my yin and yang and I am continually approaching each with excitement and enthusiasm.
    %a{href: "mailto:jeffsee.55@gmail.com?Subject=Contact%20See%20Designs", target: "top"}
      .mail-to SEND ME A MESSAGE
