---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}{% asset_path application.css %}">
</head>
<body>
  <div class="nav">
    <div class="logo">
      <h5>
        <span class="see">SEE</span>
        <span class="designs">DESIGNS</span>
      </h5>
    </div>
    <div class="menu">
      <ul>
        <li>
          <a href="#slide"><h5>WHAT I DO</h5></a>
        </li>
        <li>
          <a href="#philosophy"><h5>PHILOSOPHY</h5></a>
        </li>
        <li>
          <a href="#portfolio"><h5>PORTFOLIO</h5></a>
        </li>
        <li>
          <a href="#contact"><h5>CONTACT</h5></a>
        </li>
        <li>
          <h5>BLOG</h5>
        </li>
      </ul>
    </div>
  </div>
  <div class="blog">
    {{ content }}
  </div>
  <script type="text/javascript" src="{{ site.baseurl }}{% asset_path application.js %}"></script>
  <script type="text/javascript">
  var s = skrollr.init();

  // //The options (second parameter) are all optional. The values shown are the default values.
  // skrollr.menu.init(s, {
  //   //skrollr will smoothly animate to the new position using `animateTo`.
  //   animate: true,
  //
  //   //The easing function to use.
  //   easing: 'sqrt',
  //
  //   //Multiply your data-[offset] values so they match those set in skrollr.init
  //   scale: 2,
  //
  //   //How long the animation should take in ms.
  //   duration: function(currentTop, targetTop) {
  //     //By default, the duration is hardcoded at 500ms.
  //     return 1000;
  //
  //     //But you could calculate a value based on the current scroll position (`currentTop`) and the target scroll position (`targetTop`).
  //     //return Math.abs(currentTop - targetTop) * 10;
  //   },
  //
  //   //If you pass a handleLink function you'll disable `data-menu-top` and `data-menu-offset`.
  //   //You are in control where skrollr will scroll to. You get the clicked link as a parameter and are expected to return a number.
  //   handleLink: function(link) {
  //     return 400;//Hardcoding 400 doesn't make much sense.
  //   },
  //
  //   //By default skrollr-menu will only react to links whose href attribute contains a hash and nothing more, e.g. `href="#foo"`.
  //   //If you enable `complexLinks`, skrollr-menu also reacts to absolute and relative URLs which have a hash part.
  //   //The following will all work (if the user is on the correct page):
  //   //http://example.com/currentPage/#foo
  //   //http://example.com/currentDir/currentPage.html?foo=bar#foo
  //   ///?foo=bar#foo
  //   complexLinks: false
  // });
</script>
</body>
</html>
