<div class="nav">
  <span class="button">{% icon fa-camera-retro %}<h5>MENU</h5></span>
  <div class="menu">
    <a class="exit"><h5>X</h5></a>
    <div class="center">
      <ul>
        <li>
          <a href="#welcome"><h5>WELCOME</h5></a>
        </li>
        <li>
          <a href="#tagline"><h5>SLIDE</h5></a>
        </li>
        <li>
          <a href="#philosophy"><h5>ABOUT</h5></a>
        </li>
        <li>
          <a href="#portfolio"><h5>PORTFOLIO</h5></a>
        </li>
        <li>
          <a href="#contact"><h5>CONTACT</h5></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blog"><h5>BLOG</h5></a>
        </li>
      </ul>
    </div>
  </div>
</div>
