.nav
  %span.button.inverse
    %h5 MENU
  .menu
    %a.exit
      %h5 X
    .center
      %ul
        %li
          %a{:href => "#welcome"}
            %h5 WELCOME
        %li
          %a{:href => "#tagline"}
            %h5 SLIDE
        %li
          %a{:href => "#philosophy"}
            %h5 ABOUT
        %li
          %a{:href => "#portfolio"}
            %h5 PORTFOLIO
        %li
          %a{:href => "#contact"}
            %h5 CONTACT
        %li
          %a{:href => "{{ site.baseurl }}/blog"}
            %h5 BLOG
