---

---
.nav
  .logo
    %h5
      %span.see SEE
      %span.designs DESIGNS
  .menu
    %ul
      %li
        %h5 ABOUT
      %li
        %h5 PORTFOLIO
      %li
        %h5 CONTACT
      %li
        %h5 BLOG
