.container {
  background: white;
  padding: 3em 4em;
  @include outer-container;
  margin-top: 100px;
  h1, p {
    color: $medium-gray;
  }
  .highlight {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 3px;
    pre {
      margin: 0;
    }
  }
  .main {
    @include span-columns(8);
    .card {
      padding: 2em;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
  }
  .sidebar {
    @include span-columns(4);
    @include omega();
  }
  code {

  }
}
