.grid {
  .item {
    width: 50%;
    float: left;
    position: relative;
    background: $light-gray;
    &:hover > .overlay {
      @include filter(opacity(0));
    }
  }
  .overlay {
    @include transition(all 0.3s ease-in-out);
    @include filter(opacity(1));
    background: $dark-gray;
    position: absolute;
    z-index: 10;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 2em;
    text-align: center;
  }
}
