.block {
  display: block;
  min-height: $block-height;
  position: relative;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    color: white;
  }
}
.center-right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  h1 {
    color: $dark-gray;
  }
}

.left, .right {
  position: absolute;
  width: 20%;
  z-index: 11;
  cursor: pointer;
  &:hover {
    background: transparentize($dark-gray, 0.8);
  }
}

.left {
  left: 0;
  top: 0;
  bottom: 0;
}

.right {
  right: 0;
  top: 0;
  bottom: 0;
}

.slide-block {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.block-1 {
  left: 50%;
}

.block-2 {
  left: 150%;
}

.block-3 {
  left: 250%;
}

#welcome {
  position: relative;
  .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 20;
    @include filter(blur(1px));
  }
  .center {
    z-index: 30;
    .white {
      position: absolute;
      background: white;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 25;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    img {
      position: relative;
      z-index:50;
    }
  }
}

#tagline {
  background: $blue;
}

#slide {
  h1, p {
    color: $blue;
  }
  p {
    text-align: justify;
  }
  img {
    max-width: initial !important;
  }
}

#philosophy {
  background: $blue;
  text-align: justify;
}

#portfolio {
  h1, p {
    color: $blue;
    text-align: justify;
  }
}

#contact {
  background: $blue;
  text-align: justify;
  .mail-to {
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
    border: 2px solid;
    &:hover {
      background: transparentize(white, 0.8)
    }
  }
}
