.block {
  display: block;
  min-height: $block-height;
  position: relative;
  overflow: hidden;
}

.blur {
  * {
    @include filter(blur(3px));
    @include transition(all 0.5s ease-in-out);
  }
}

.unblur {
  * {
    @include filter(blur(0px));
    @include transition(all 0.5s ease-in-out);
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    color: white;
  }
}

.center-left {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.center-right {
  position: absolute;
  top: 50%;
  left: 65%;
  padding: 2em;
  background: white;
  transform: translate(-30%, -50%);
}

.features {
  .center-left {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
}

#welcome {
  position: relative;
  .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 20;
    @include filter(blur(1px));
  }
  .center {
    z-index: 30;
    .white {
      position: absolute;
      background: white;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 25;
    }
    img {
      position: relative;
      z-index:50;
    }
  }
}

#tagline {
  background: $base-accent-color;
}

#slide {
  h1, p {
    color: $medium-gray;
  }
  p {
    text-align: justify;
  }
  img {
    max-width: initial !important;
  }
}

#philosophy {
  background: $base-accent-color;
  text-align: justify;
}

#portfolio {
  h1, p {
    color: $medium-gray;
    text-align: justify;
  }
}

#contact {
  background: $base-accent-color;
  text-align: justify;
  .mail-to {
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
    border: 2px solid;
    &:hover {
      background: transparentize(white, 0.8)
    }
  }
}
