.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  .button, .exit {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    z-index: 60;
    color: $blue;
    font-size: 2em;
    font-weight: 300;
    padding: 0.2em 0.5em;
    background: white;
  }
}
.menu {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: transparentize(white, 0.1);
  text-align: center;
  display: none;
  cursor: pointer;
  .exit {
    font-weight: 900;
    background: none;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      display: block
    }
    a {
      text-align: center;
      font-size: 4em;
      color: $blue;
      &:hover {
        padding: 15px;
        background: $blue;
        color: white;
      }
    }
  }
}
